version: '3.9'

services:
  web:
    build: .
    container_name: indotrader_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./app:/app
    restart: always

  worker:
    build: .
    container_name: indotrader_worker
    command: ["python", "worker.py"]
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./app:/app
    restart: always

  db:
    image: postgres:15
    container_name: indotrader_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
